@import "../../App.scss";

.loading {
    p {
        font-size: 13px;
    }
}

.user {
    cursor: pointer;
    padding: 15px 10px;
    transition: 0.3s all;

    .rounded-circle {
        width: 35px;
        height: 35px;
        padding: 9px 8px;

        h6 {
            font-size: 14px;
            font-weight: 900;
            color: #fff;
        }
    }

    .name-container {
        padding-top: 7px;

        p {
            font-size: 13px;
        }
    }

    &:hover {
        background: #dfdfdf49;
    }
}
